<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table {
            width: 1000px;
            border: 2px solid black;
            margin: auto;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h2 align="center">Transaction successfully added!</h2>
<table>
    <tr>
        <th>id</th>
        <th>fromAccountId</th>
        <th>toAccountId</th>
        <th>amount</th>
        <th>createdDate</th>
    </tr>
    <tr>
        <td>${transaction.id}</td>
        <td>${transaction.fromAccountId}</td>
        <td>${transaction.toAccountId}</td>
        <td>${transaction.amount}</td>
        <td>${transaction.createdDate}</td>
    </tr>
</table>
<div class="container text-center">
    <a href="/">Main page</a>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>